.beers{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}

.beer:hover .name{
  color:red;
}

.button
.button:visited { background-color: aquamarine;}
.button:focus { background-color: blue;}
.button:active { background-color: red;}
.button:hover { background-color: orange;}
.image{
  height:200px;
}

.image:hover{background-color:orange;}

.image:active{color:red;}